<header class="bg-blue-900 shadow-md fixed top-0 left-0 right-0 z-10">
    <nav class="lg:container flex justify-between p-4">
        <div class="flex align-middle cursor-pointer" routerLink="/">
            <img class="object-fill h-10 w-10" src="../.././../../assets/icons/icon-192x192.png">
            <div
                class="self-center md:text-xl text-lg font-bold text-white tracking-light align-middle hidden md:inline">
                PRICE-COMPARE.CHEAP
            </div>
        </div>
        <div>
            <button type="button"
                class="flex max-w-sm w-full bg-gradient-to-tl from-gray-50 to-gray-50 hover:from-green-700 hover:to-green-400 hover:text-white text-base uppercase font-bold rounded-full mx-auto py-3 px-5"
                routerLink="/add-item">
                ➕ Add Item
            </button>
            <!-- <button type="button"
                class="bg-green-500 hover:bg-green-700 text-white text-base md:text-md leading-6 py-2 px-4 border border-transparent rounded focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-900 focus:outline-none transition-colors duration-200 font-medium"
                tabindex="-1">
                ➕ Add Item
            </button> -->
            <!-- <button type="button"
                class="bg-gradient-to-r from-red-400 to-red-700 hover:from-red-700 hover:to-red-400 text-white text-base md:text-lg leading-6 font-semibold py-2 px-5 border border-transparent rounded focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-900 focus:outline-none transition-colors duration-200">
                ➕ Add Item
            </button> -->
        </div>
    </nav>
</header>