<section class="curve-container">
    <div class="lg:container md:p-6 py-4 px-4 pt-10">
        <div class="flex self-stretch text-center mx-auto md:h-96 h-52">
            <div class="flex-grow self-center">
                <h2 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-white tracking-tight mb-8">
                    Let's stretch that dollar 🤑</h2>
                <p class="max-w-4xl text-lg sm:text-2xl font-medium sm:leading-10 space-y-6 mx-auto mb-6 text-white">
                    Price-compare.cheap is a Sinagpore base crowdsourced price database that
                    serve as a price comparing webapp.</p>
            </div>
        </div>
    </div>
</section>

<section class="lg:container sm:p-6 py-4 px-2">
    <app-products></app-products>
</section>